.schedule__table-wrapper {
  overflow: auto;
  max-width: 1760px;
  width: 100%;
  height: 550px;
  padding-right: 4px;
}

.schedule-table {
  min-width: 100%;
  border-spacing: 0;
  table-layout: fixed;
}
.schedule-table-archive {
  min-height: 100%;
}
.schedule-table thead {
  position: sticky;
  top: 0;
  z-index: 10;
}
.schedule-table thead::after {
  content: "";
  width: 100%;
  height: 40px;
  background-color: $white;
  position: absolute;
  top: 0;
  left: 0;
}
.schedule-table thead td,
.schedule-table thead th {
  background-color: $white;
}
.schedule-table th {
  text-align: left;
  font-size: 16px;
  font-weight: 600;
}

.schedule-table th.m-center,
.schedule-table td.m-center {
  text-align: center;
  background-color: $white;
}

.schedule-table th,
.schedule-table td {
  max-width: 260px;
  min-width: 35px;
  position: relative;
  z-index: 2;
  padding: 7px 5px;
  border-top: 1px solid #d1d1d1;
  text-overflow: ellipsis;
}
.schedule-table td:nth-child(2),
.schedule-table td:nth-child(3) {
  overflow: hidden;
}

.schedule-table thead tr:first-child th {
  border-bottom: 1px solid #d1d1d1;
}

.schedule-table thead tr:nth-child(2) th {
  border-top: none;
  border-bottom: 1px solid #d1d1d1;
}
.schedule-table td.m-selected {
  background: #f2f2f2 !important;
}
.schedule-table tbody tr.m-error td,
.schedule-table tbody tr.m-error th {
  background: #ff788080 !important;
}
.schedule-table tbody tr.m-active td,
.schedule-table tbody tr.m-active th {
  background: #e7f0ff !important;
  position: relative;
}
.schedule-table tbody tr #demo-customized-menu {
  display: none;
}
.schedule-table tbody tr.m-active #demo-customized-menu {
  display: block;
}
.schedule-table tbody tr.m-active td.m-td-active::after {
  content: "";
  width: calc(100% - 6px);
  height: calc(100% - 6px);
  background-color: $white;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.schedule-table tbody tr.m-active .schedule-table__brigade-cell input:focus + .focus-after {
  content: "";
  width: calc(100% - 16px);
  height: calc(100% - 10px);
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.schedule-table tbody tr.m-active .schedule-table__profile-cell input:focus + .focus-after {
  content: "";
  width: calc(100% - 16px);
  height: calc(100% - 10px);
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.schedule-table tbody tr:first-child td {
  border-top: none;
}
.schedule-table tr:nth-child(4n) td,
.schedule-table tr:nth-child(4n-1) td {
  background-color: #fff;
}
.schedule-table thead th {
  white-space: nowrap;
}
.schedule-table thead td {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #1a1d2d;
}
.schedule-table th {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: #1a1d2d;
}
.schedule-table td {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #1a1d2d;
  white-space: nowrap;
}
.schedule-table tr:last-child td:first-child {
  border-radius: 0 0 0 20px;
  border-left: 1px solid #d1d1d1;
}

.schedule-table tr:first-child th:first-child {
  border-radius: 20px 0 0 0;
}

.schedule-table tr:first-child th:last-child {
  border-radius: 0 20px 0 0;
}
.schedule-table thead th:last-child {
  gap: 12px;
  border-right: 1px solid #d1d1d1;
}
.schedule-table tbody td:last-child {
  border-right: 1px solid #d1d1d1;
}
.schedule-table tbody td:first-child {
  border-left: 1px solid #d1d1d1;
}
.schedule-table tbody tr:last-child td:last-child {
  border-radius: 0 0 20px 0;
}
.schedule-table thead tr:last-child td:last-child {
  border-radius: 0 20px 0 0;
}

.schedule-table tr:last-child td {
  border-bottom: 1px solid #d1d1d1;
}
.schedule-table td {
  input[type="text"],
  input[type="number"] {
    width: 100%;
    background-color: transparent;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #1a1d2d;
    text-align: center;
    white-space: nowrap;
    padding: 0;
    border: 0;
    position: relative;
    z-index: 2;
    &:focus {
      outline: none;
    }
  }
}
.schedule-table td.schedule-table__brigade-cell,
td.schedule-table__profile-cell {
  input {
    text-align: left !important;
  }
}
.schedule-table th.m-right-border,
.schedule-table td.m-right-border {
  border-right: 1px solid #d1d1d1;
}

.schedule-table td.m-left-border,
.schedule-table th.m-left-border {
  border-left: 1px solid #d1d1d1;
}
.schedule-table td.red-error {
  color: $red;
}
.schedule-table td.red-error .MuiButton-root {
  color: $red !important;
}
.schedule-table__staff {
  text-align: center;
}
.schedule-table .m-deviations {
  position: sticky !important;
  right: -6px;
}
.schedule-table tbody tr:nth-child(1) .schedule-table-accordion-btn {
  font-weight: 500;
}
.schedule-table .schedule-table-accordion-btn {
  display: flex;
  align-items: center;
  gap: 23px;
  // padding-right: 0;
  cursor: pointer;
  user-select: none;
  z-index: 3;
}
.schedule-table .schedule-table-accordion-btn span {
  position: relative;
}
.schedule-table .m-position-relative {
  position: relative;
}
.schedule-table td .m-employees {
  width: 8px;
  height: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $green;
  border-radius: 20px;
}
.schedule-table tbody .schedule-table-accordion-btn span.m-selected::after {
  content: "";
  width: 6px;
  height: 6px;
  background-color: $red;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: -6px;
}
.schedule-table .m-deviations .m-deviations__in {
  border: 1px solid $red;
  border-radius: 30px;
  padding: 2px 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 171%;
  color: $red;
}

.schedule-table__checkbox,
.schedule-table__brigade,
.schedule-table__profile,
.schedule-table__plate {
  // position: sticky !important;
  // overflow: hidden;
  // z-index: 100;
}

.schedule-table__checkbox {
  min-width: 40px !important;
  left: 0;
}

.schedule-table__brigade {
  min-width: 110px;
  // left: 45px;
}

.schedule-table__profile {
  min-width: 110px;
  // left: 221px;
}

.schedule-table__plate {
  min-width: 135px;
  // left: 265px;
}

.schedule-table__time {
  min-width: 130px;
}

.schedule-table__name {
  min-width: 160px;
}

.schedule-table__number {
  max-width: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.schedule-table__checkbox-cell,
.schedule-table__brigade-cell,
.schedule-table__profile-cell,
.schedule-table__plate-cell {
  // position: sticky !important;
  // z-index: 3;
}

.schedule-table td.m-last {
  border-bottom: 1px solid #d1d1d1;
}
.schedule-table td.m-active {
  position: relative;
  z-index: 2;
}
.schedule-table td.m-active::after {
  content: "";
  width: calc(100% + 4px);
  height: 32px;
  background: #89b8ff;
  position: absolute;
  top: 50%;
  left: -2px;
  transform: translateY(-50%);
  z-index: -1;
}
.schedule-table td.m-first-active::after {
  border-radius: 8px 0 0 8px;
  left: 3px;
}
.schedule-table td.m-last-active::after {
  border-radius: 0 8px 8px 0;
  right: 3px;
  left: auto;
}
.schedule-table__checkbox-cell {
  padding: 0 !important;
  min-width: 40px !important;
  left: 0;
}
.schedule-table__checkbox-cell input {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
}
.schedule-table__brigade-cell {
  // left: 45px;
}
.schedule-table__profile-cell {
  // left: 221px;
}
.schedule-table__plate-cell {
  // left: 265px;
}

.schedule-table.m-drivers thead tr:last-child th {
  top: 0;
}

.schedule-table.m-drivers .schedule-table__time {
  min-width: 180px;
}

.schedule-table.m-drivers .schedule-table__name {
  min-width: 260px;
}

.schedule-table.m-drivers .schedule-table__number {
  max-width: 145px;
}

.schedule-table.m-drivers .schedule-table__comment {
  width: 565px;
}
.schedule-table-administration tbody td {
  max-width: 145px;
}
.schedule-table-administration tbody td:nth-child(2) {
  overflow: visible;
}
.schedule-table-administration tbody td.schedule-table__profile-cell {
  max-width: 100px;
  margin-right: -20px;
}
.schedule-table-drivers tbody td {
  max-width: 200px;
  // min-width: 35px;
}
.schedule-table-archive tbody td {
  border-bottom: 1px solid #d1d1d1;
}
.schedule-table-archive tbody tr td:first-child {
  border-radius: 0 0 0 20px;
}
.schedule-table-archive tbody tr td:last-child {
  border-radius: 0 0 20px 0;
}
.schedule-table-archive tbody {
  height: 100%;
  width: 100%;
  border: 1px solid #d1d1d1;
  border-radius: 0 0 20px 20px;
}
.schedule-table-archive .currently-empty {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 180%;
  color: $darkgrey;
}
