.password-change {
  &__instructions {
    list-style-type: disc;
    padding-left: 25px;
    margin-bottom: 40px;
  }

  &__column {
    width: 380px;
    margin-right: 40px;
  }

  &__column {
    width: 380px;
    margin-right: 40px;
  }

  &__column.m-right {
    margin-right: 0;
  }

  &__recovery {
    margin: 18px 0;
  }

  &__buttons {
    padding-top: 40px;
  }
}