$white: #ffffff;
$grey: #d0d1d5;
$lightgrey: #f2f4f7;
$darkgrey: #4b4c52;
$black: #202022;
$blue: #005ae1;
$lightblue: #e6effc;
$mediumblue: #d5e5fc;
$red: #cf0101;
$green: #009b3b;
$orange: #e47d03;

:root {
    --blue: #005ae1;
    --red-error: #cf0101;
    --green-success: #009b3b;
    --light-blue-highlight: #e6effc;
    --light-blue-accents: #b0ccf6;
    --white-background: #fff;
    --orange-warning: #e47d03;
    --light-grey: #f2f4f7;
    --light-grey-for-highlights: #e9eaec;
    --grey-for-devider: #d0d1d5;
    --grey-for-help-text: #4b4c52;
    --dark-grey-for-text: #202022;
    --schemes-primary: #4a5c92;
    --schemes-surface-tint: #4a5c92;
    --schemes-on-primary: #fff;
    --schemes-primary-container: #dbe1ff;
    --schemes-on-primary-container: #001849;
    --schemes-secondary: #585e71;
    --schemes-on-secondary: #fff;
    --schemes-secondary-container: #dde1f9;
    --schemes-on-secondary-container: #151b2c;
    --schemes-tertiary: #735471;
    --schemes-on-tertiary: #fff;
    --schemes-tertiary-container: #ffd6f9;
    --schemes-on-tertiary-container: #2b122b;
    --schemes-error: #ba1a1a;
    --schemes-on-error: #fff;
    --schemes-error-container: #ffdad6;
    --schemes-on-error-container: #410002;
    --schemes-background: #faf8ff;
    --schemes-on-background: #1a1b21;
    --schemes-surface: #faf8ff;
    --schemes-on-surface: #1a1b21;
    --schemes-surface-variant: #e2e2ec;
    --schemes-on-surface-variant: #45464f;
    --schemes-outline: #757680;
    --schemes-outline-variant: #c5c6d0;
    --schemes-shadow: #000;
    --schemes-scrim: #000;
    --schemes-inverse-surface: #2f3036;
    --schemes-inverse-on-surface: #f1f0f7;
    --schemes-inverse-primary: #b3c5ff;
    --schemes-primary-fixed: #dbe1ff;
    --schemes-on-primary-fixed: #001849;
    --schemes-primary-fixed-dim: #b3c5ff;
    --schemes-on-primary-fixed-variant: #324578;
    --schemes-secondary-fixed: #dde1f9;
    --schemes-on-secondary-fixed: #151b2c;
    --schemes-secondary-fixed-dim: #c1c6dd;
    --schemes-on-secondary-fixed-variant: #414659;
    --schemes-tertiary-fixed: #ffd6f9;
    --schemes-on-tertiary-fixed: #2b122b;
    --schemes-tertiary-fixed-dim: #e1bbdc;
    --schemes-on-tertiary-fixed-variant: #5a3d58;
    --schemes-surface-dim: #dad9e0;
    --schemes-surface-bright: #faf8ff;
    --schemes-surface-container-lowest: #fff;
    --schemes-surface-container-low: #f4f3fa;
    --schemes-surface-container: #eeedf4;
    --schemes-surface-container-high: #e8e7ef;
    --schemes-surface-container-highest: #e3e2e9;
    --surfaces-surface-tint-50: rgba(74, 92, 146, 0.05);
    --surfaces-surface-tint-80: rgba(74, 92, 146, 0.08);
    --surfaces-surface-tint-110: rgba(74, 92, 146, 0.11);
    --surfaces-surface-tint-120: rgba(74, 92, 146, 0.12);
    --surfaces-surface-tint-140: rgba(74, 92, 146, 0.14);
}
