:root {
    --font-family: "Montserrat", sans-serif;
    --second-family: "Inter", sans-serif;
    --third-family: "Ysabeau Infant", sans-serif;
    --font3: "Roboto", sans-serif;
    --font4: "Prosto One", sans-serif;
    --font5: "Orbitron", sans-serif;
    --font6: "Quicksand", sans-serif;
    --font7: "Dosis", sans-serif;
    --font8: "Syncopate", sans-serif;
    --font9: "Michroma", sans-serif;
    --font10: "Blinker", sans-serif;
    --font11: "Alegreya Sans SC", sans-serif;
    --font12: "Geo", sans-serif;
    --font13: "Rubik", sans-serif;
    --font14: "Figtree", sans-serif;
    --font15: "Plus Jakarta Sans", sans-serif;
    --font16: "Prompt", sans-serif;
    --font17: "Urbanist", sans-serif;
    --font18: "Poiret One", sans-serif;
    --font19: "Spinnaker", sans-serif;
    --font20: "Sulphur Point", sans-serif;
    --font21: "Jost", sans-serif;
}
