.g-page-header {
  display: flex;
  margin-bottom: 40px;
}

.g-page-name {
  color: #005AE1;
  font-size: 30px;
  font-weight: 500;
  padding-right: 12px;
}

.g-page-name.m-small {
  font-size: 20px;
  width: 1200px;
}