.header {
    display: flex;
    position: relative;
     justify-content: center;
    align-items: flex-end;
    height: 78px;

    &__logo {
        width: 192px;
        height: 50px;
        background: url('@assets/images/consilium-logo.svg');  
    }

    &__user {
        position: absolute;
        right: 20px;
        bottom: 0;
      }
  }
